html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
    scroll-behavior: smooth;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
}

.headerImgs{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.div-book-image{
    width: 200px;
    height: 200px;
    padding-right: 1.5em;
}

.container-logo-image-2{
    display: flex;
    justify-content: center;
}

.logo-image-2{
    width: 150px;
    height: 150px;
}

.login-area div:nth-child(2){
    margin-top: 0.5em;
}


.login-area input{
    width: 200px;
    height: 15px;
    border-radius: 0.5rem;
}

.login-area input:focus{
    box-shadow: 0px 1px 10px rgb(234, 146, 184);
}

.login-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button{
    padding: 0.5em;
    margin: 0;
    margin-top: 0.5em;
    border-radius: 0.9rem;
}

.button-paragraph{
    font-size: 0.8em;
}

.button-paragraph a{
    text-decoration: none;
}

.button-paragraph a:hover{
    text-decoration: underline;
}


.logo-image{
   width: 250px;
   margin-bottom: 2.5em;

}

/* NAVEGAÇÃO */
.nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0 1.2em;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1900;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.logo-image-2{
    width: 100px;
    height: 52px;
    padding-top: 0.2em;
}

.nav ul{
    list-style: none;
    flex:1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    
}

.nav ul li{
    padding: 0;
    margin: 0;

}

.nav ul a, .nav a{
    text-decoration: none;
    color: white;
}

h1{
    padding: 3em;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 7px black;
    font-weight: 700;
    text-transform: uppercase;
}

h2{ 
    color: #fff;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 7px black;
    padding-left: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

main{
    margin: 0;
    padding: 0;
    padding-top: 0; 
}

.container-cursos{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin: 2em 0;
    padding-top: 5em;
    gap: 0.7em;
    grid-template-areas: 
    "1 2 3 4 5 6 7 8"
    "1 2 3 4 5 6 7 8";
}


.container-grid-membership{
    border: 6px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 0 3em;
}

.course-membership{
    border: 2px solid #888;
    text-align: center;
    background-color: #e1f1ff;
    border-radius: 20px;
    padding: 10px 10px;
    grid-column: span 4 / auto;
    width: 90%;
    height: 330px;
}

.course-membership h3{
    color: #888;
    margin-bottom: 0;
}

.membershipDescription{
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-top: 0;
}

.membership-reason{
    margin: 30px 0;
}

.membershipDescription span:nth-child(1){
    font-size: 1.8rem;
}

.membershipDescription span{
    font-weight: 700;
}

.course-membership:nth-child(2){
    border: 2px solid #888;
    border-top: none;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.emphasis-container{
    display: flex;
    flex: 1;
    justify-content: center;
}

.emphasis-absolute{
    position: absolute;
    background-color: rgb(116, 175, 242);
    border: 2px solid #888;
    border-bottom: 1px solid black;
    border-radius: 25px 25px 0 0 ;
    width: 100%;
    padding: 10px 0;
    top: -65px;
    right: -2px;
}

.emphasis-absolute p{
    margin:0;
    padding:0;
    font-weight: 700;
}

.empty-span{
    display: block;
    width: 25px;
    height: 3px;
    margin: 0 auto 20px;
}

.container-empty-span .empty-span:last-of-type{
    height: 3px;
    background-color: #888;
}

.membership-button-container{
    display: flex;
    flex: 1;
    padding: 0 auto;
    justify-content: center;
    margin-top: 2em;
}

.membership-button{
    padding: 10px;
    border-radius: 0.5rem;
    border: 2px solid #60a9ff;
    background-color: #e1f1ff;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #60a9ff;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 0.2s;
    
}

.membership-button:hover{
    background-color: rgb(116, 175, 242);
    color: white;
}

.course-membership:nth-child(2) .membership-button{
    color: white;
    background-color: rgb(116, 175, 242);
}

.course-membership:nth-child(2) .membership-button:hover{
    background-color: #26a0f0;
    border-color: #26a0f0;
}

.available-courses{
    display: flex;
    flex: 1;
    height: 600px;
    margin: 0 3em;
    justify-content: center;
}

.course-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin: 2em;
    gap: 0.5em; 
    list-style: none;
    grid-auto-rows: 1fr;
    transition: color 0s;
}

.course-grid > *{
    border: 2px solid #888;
    text-align: right;
    background-color: #e1f1ff;
    border-radius: 20px;
    padding: 1.2em 0.8em;
    transition: background-color 0.2s ease;
}

.course-grid li:hover{
    background: rgba(110,167,233,1);
    color: #fff;
}

.grid-course-title{
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 1.15em;
    font-weight: 700;
}

.grid-course-description{
    display:block;
    text-align: left;
    font-size: 0.7em;
}

.grid-course-duration{
    display: block;
    text-align: left;
    font-size: 0.6em;
    margin-top: 1em;
}

.grid-course-modality ul{
    margin-top: 3em;
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
    text-align: left;
}

.grid-course-modality ul li, .grid-course-modality ul li > *{
    display: flex;
    flex: 1;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}

.grid-course-modality ul li a{
    border-bottom: 2px solid #888;
    border-top: 2px solid #888;
    padding: 3px 0;
}

.grid-course-modality ul li:nth-child(2) a{
    border-top: none;
}

.grid-course-modality ul li:hover{
    background-color: #fff;
    color: black;
}

.grid-course-modality ul li a{
    text-decoration: none;
    color: inherit;
}

.course-flex-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-footer{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(238,199,216);
    background: radial-gradient(circle, rgba(238,199,216,1) 0%, rgba(179,204,233,1) 78%);
    color: black;
}

.container-footer h3{
    margin-bottom: 1.5em;
}

.container-footer div:nth-child(3) h3{
    text-align: center;
}

.container-footer div{
    width: 300px;
    height: 300px;
    flex: 1;
    padding: 1.5em;

}

.container-footer div:nth-child(2){
    height: 350px;
    flex: 1;
    padding-left: 0;
}

footer ol,
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}

footer li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 1rem;
    line-height: 1.25;
  }

  footer ul li::before {
  content: attr(data-icon);
  /* Make slightly larger than the li font-size
  but smaller than the li gap */
  font-size: 1.1em;
  text-shadow: 2px 3px rgb(55, 54, 54);;
}

footer p{
    text-align: right;
    padding-right: 1.5em;
}

#contact:target{
    border: 1px solid black
}

.contact-text{
    resize: none;
    width: 90%;
    height: 20%;
}

input, textarea, select{
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

input:focus, textarea:focus, select:focus{
    box-shadow: 0px 1px 10px rgb(68, 148, 238);
}

.contact-button-container{
    display:flex;
    flex: 1;
    justify-content: right;
    margin: 0 2em;
}

.span-input{
    display: flex;
}

.span-input:nth-of-type(5){
    display: block;
}

.span-input label{
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.span-input label + *{
    border-radius: 0.5em;
}

/* REDES SOCIAIS FOOTER */
.social-media-flex{
    display:flex;
    justify-content: center;
    gap: 0.2em;
}

.social-media-logo{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.social-media-logo img{
    width: 30px;
    height: 30px;
    padding: 0.3rem;
}

.social-media-logo:hover{
    background-color: rgb(155, 197, 245);
}

.containerteste{
    display: flex;
}

.containerteste div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
}


@media (max-width: 800px){
    .nav, .nav ul{
        flex-direction: column;
        align-items: center;
    }

    .headerImgs{
        justify-content: center;
    }

    .logo-image{
        position: absolute;
        height: 300px;
        width: 500px;
        top: -7px;
    }

    .container-logo-image-2{
        justify-content: center;
    }

    .div-book-image{
        z-index: 1900;
        
    }

    .container-cursos{
        padding-top: 0;
    }

    .container-cursos .course-membership{
        grid-column: span 12 / auto;
        justify-self: center;
    }

    .container-cursos .course-membership:nth-child(2){
        margin-top: 4em;
    }
}

@media (max-width: 1300px) and (min-width: 801px){

    .container-cursos .course-membership{
        grid-column: span 6 / auto;
    }

    .container-cursos .course-membership:nth-child(3){
        grid-column: 4 / 10;
    }
}